<footer id="footer" class="footer-1" style="
left: 0;
bottom: 0;
width: 100%;
color: black;
text-align: center;">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p style="font-family: 'zealot'; font-size:25px">AGStore</p>
          <p>© 2020. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>