<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head', {title : 'Konfirmasi Pembayaran AGStore'}); %>

<body>

    <% if (isLoggedIn) { %>
        <%- include('../partials/header', {isLoggedIn : isLoggedIn,
            name: name}); %>
        <% } else { %>
            <%- include('../partials/header', {isLoggedIn : isLoggedIn}); %>
        <% } %>

    <section class="content" style="margin-top: 75px;">
        <div class="container">
            <div class="row mt-5" style="height: max-content;">
                <div class="col">
                    <div class="display-2 text-center  mb-5">Konfirmasi Pembayaran</div>
                    <div class="row">
                        <div class="col">
    
    
                            <h6 class="text-muted">
                                Setelah Anda sukses checkout dan telah melakukan pembayaran melalui account Bank kami
                            </h6>
                            <h6 class="text-muted">
                                Pastikan Order ID yang diinput sama dengan Bukti Pembayaran
                            </h6>
                            <h6 class="text-muted">
                                Kami akan segera proses order setelah kami menerima Bukti pembayaran.
                            </h6>
    
                            <h6 class="text-muted">
    
                                Jika ada hal yang ingin ditanyakan terkait order Anda harap hubungi :
                            </h6>
                            <h6>
                                <ul style="list-style-type: none;">
                                    <li>
                                        Instagram : @AGStoXXX</li>
                                    <li>Whatapps : 08XXXXXXXXX <a class="link-wa-confirm"
                                            href="https://api.whatsapp.com/send?phone=6281936516716&text=Saya%20Telah%20Melakukan%20Pembayaran%20Di%20website%20AGStore%20Dengan%20Bukti%20Sebagai%20Berikut%20:%0ANama%20:%0AAlamat:%0AID%20Order%20:%0A"><button
                                                type="button" class="btn btn-success">Whatsapp Web</button></a></li>
    
                                </ul>
                            </h6>
    
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid black; padding: 2rem;">
                        <div class="col-12">
                            <form action="">
                                <div class="d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col">
                                            <h5 for="inputId" class="text-center ">Masukan Email &nbsp;<span><input
                                                        name="inputId" type="email" class="input-login"
                                                        placeholder="">
                                        </span></h5>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col">
                                        <h5 for="inputId" class="text-center ">Masukkan ID Order &nbsp;<span><input
                                                    name="inputId" type="text" class="input-login"
                                                    placeholder="Contoh : AGS-123XXXX">
                                    </div></span></h5>
                                </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <h5 for="inputFoto" class=" text-center ">Bukti Pembayaran &nbsp;<span><input id="inputFoto"
                                            type="file" name="" id=""></span></h5>
    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-utama form-control" type="submit">Submit</button>
                            </div>
                        </div>
                        </form>
    
                    </div>
                </div>
    
            </div>
        </div>
    
        </div>
    </section>


  <%- include('../partials/footer',{isLoggedIn : isLoggedIn}); %>

</body>

</html>