<!DOCTYPE html>
<html lang="en">


  <%- include('../partials/head', {title : 'Transaksi Saya'}); %>
<% if (isLoggedIn) { %>
  <%- include('../partials/header', {isLoggedIn : isLoggedIn,
      name: name}); %>
  <% } else { %>
      <%- include('../partials/header', {isLoggedIn : isLoggedIn}); %>
  <% } %>

    <body>
       
        <section class="content" style="margin-top: 75px;">
            <div class="container mt-3">
              <div class="row">
                <div class="col">
                  <div class="card mt-3 card-transaction-history">
                    <div class="card-header ">Minggu, 18 Oktober 2020 23:48:17
                    </div>
                    <div class="card w-100">
                      <div class="card-body">
                        <h5 class="card-title">Id Order :<span class="id-Order" style="color: brown;">AGS-23412345</span>
                          <div>Status Transaksi : <span class="transaction-status">Success</span>
                          <div class="button-confirmation"></div>Total :
                            <span class="history-total">459000</span> (Include Shipping)</div>
                        </h5>
                        <div class="shopping-cart">
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/mouse-item.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">Logitech G102</h5>
                                  <div class="card-text product-price">250.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
        
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/misc-item2.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">SteelSeries QCK</h5>
                                  <div class="card-text product-price">200.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3 card-transaction-history">
                    <div class="card-header ">Minggu, 18 Oktober 2020 23:48:17
                    </div>
                    <div class="card w-100">
                      <div class="card-body">
                        <h5 class="card-title">Id Order :<span class="id-Order" style="color: brown;">AGS-23412345</span>
                          <div>Status Transaksi : <span class="transaction-status">Pending</span>
                          <div class="button-confirmation"></div>Total :
                            <span class="history-total">459000</span> (Include Shipping)</div>
                        </h5>
                        <div class="shopping-cart">
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/mouse-item.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">Logitech G102</h5>
                                  <div class="card-text product-price">250.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
        
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/misc-item2.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">SteelSeries QCK</h5>
                                  <div class="card-text product-price">200.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3 card-transaction-history">
                    <div class="card-header ">Minggu, 18 Oktober 2020 23:48:17
                    </div>
                    <div class="card w-100">
                      <div class="card-body">
                        <h5 class="card-title">Id Order :<span class="id-Order" style="color: brown;">AGS-23412345</span>
                          <div>Status Transaksi : <span class="transaction-status">Failed</span>
                          <div class="button-confirmation"></div>Total :
                            <span class="history-total">459000</span> (Include Shipping)</div>
                        </h5>
                        <div class="shopping-cart">
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/mouse-item.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">Logitech G102</h5>
                                  <div class="card-text product-price">250.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
        
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/misc-item2.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">SteelSeries QCK</h5>
                                  <div class="card-text product-price">200.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3 card-transaction-history">
                    <div class="card-header ">Minggu, 20 Oktober 2020 24:45:12
                    </div>
                    <div class="card w-100">
                      <div class="card-body">
                        <h5 class="card-title">Id Order :<span class="id-Order" style="color: brown;">AGS-12345678</span>
                          <div>Status Transaksi : <span class="transaction-status">Pending</span>
                          <div class="button-confirmation"></div>Total :
                            <span class="history-total">259000</span> (Include Shipping)</div>
                        </h5>
                        <div class="shopping-cart">
                          <div class="card mb-3 product" style="max-width: 600px;">
                            <div class="row no-gutters">
                              <div class="col-md-4 d-flex align-items-center">
                                <img src="images/mouse-item.jpg" class=" product-img" alt="...">
                              </div>
                              <div class="col-md-4">
                                <div class="card-body product-details">
                                  <h5 class="card-title product-title">Logitech G102</h5>
                                  <div class="card-text product-price">250.000</div>
                                  <div class="text-muted">Qty :<span class="qty-item">1</span></div>
                                </div>
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-n4">
        
                              </div>
                              <div class="col-md-2 d-flex align-items-center ml-4">
                              </div>
                            </div>
                          </div>
        
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </div>
                </div>
              </div>
        
            </div>
        
          </section>
      </body>
      <script>
        $(document).ready(function () {
          $('.card-transaction-history').each(function () {
            var nama = 'Michael Yan'
            var alamat = 'Jl Grogol raya no 2'
            var tanggalOrder = $(this).children('.card-header').text()
            var idOrder = $(this).children().children().children().children('.id-Order').text()
            var total = $(this).children().children().children().children().children('.history-total').text()
    
            var f = $(
              '<p class="text-muted text-warning" style="font-size:13px">Transaksi Anda gagal dikarenakan Melebihi batas waktu Konfirmasi Pembayaran (24 Jam)</p>' +
              '<p class="text-muted" style="font-size:13px;margin-top: -10px" >Jika hal tersebut keliru, silahkan Kontak Kami Dibawah Ini (Whatsapp /Fast Response)</p>'+
              '<div class="row"><div class="col"><a class="link-wa-confirm-failed" href="https:/"><button type="button" class="btn btn-danger">Report</button></a></div></div>'
            );
    
            var p = $(
              '<p class="text-muted" style="font-size:13px">Jika telah melakukan Konfirmasi Pembayaran, Mohon menunggu paling lama 1x24 Jam.</p>' +
              '<p class="text-muted" style="font-size:13px;margin-top: -10px" >jika belum, dapat mengkonfirmasi pembayaran Dibawah ini (Whatsapp /Fast Response)</p>'+
              '<div class="row"><div class="col"><a class="link-wa-confirm" href="https://"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmModal">Whatsapp Web</button></a><p class="text-muted" style="font-size:14px">atau <a href="confirmation.html">Klik disini</a></p></div></div>'
            );
            if ($(this).children().children().children().children().children('.transaction-status').text() ==
              'Pending') {
                $(this).children().children().children().children().children('.transaction-status').addClass( "text-warning")
              $(this).children().children().children().children().children('.button-confirmation').append(p)
              generateWa($(this),nama,alamat,tanggalOrder,idOrder,total)
            }
            if($(this).children().children().children().children().children('.transaction-status').text() ==
              'Failed'){
                $(this).children().children().children().children().children('.transaction-status').addClass( "text-danger")
                $(this).children().children().children().children().children('.button-confirmation').append(f)
                generateFailWa($(this),nama,alamat,tanggalOrder,idOrder,total)
            }else{
              $(this).children().children().children().children().children('.transaction-status').addClass( "text-success")
            }
           
            
          })
        })
      </script>
    
      <script>
        function generateWa(element,nama,alamat,tanggalOrder,idOrder,total) {
         var x = element.children().children().children().children().children().children().children().children('.link-wa-confirm')
    
          var linkWa =
            'https://api.whatsapp.com/send?phone=6281936516716&text=Saya%20Telah%20Melakukan%20Pembayaran%20Di%20website%20AGStore%20Dengan%20Bukti%20Sebagai%20Berikut%20:%0ANama:%20+' +
            nama +
            '%0AAlamat%20:%20' +
            alamat +
            '%0ATanggal%20Order%20:%20' +
            tanggalOrder +
            '%0AID%20Order%20:%20' +
            idOrder +
            '%0ATotal%20Harga%20:%20Rp.' +
            total
          x.attr('href', linkWa)
    
      
        }
    
        function generateFailWa(element,nama,alamat,tanggalOrder,idOrder,total) {
          var x = element.children().children().children().children().children().children().children().children('.link-wa-confirm-failed')
    
          var linkWa =
            'https://api.whatsapp.com/send?phone=6281936516716&text=Saya%20Ingin%20Melaporkan%20Kesalahan%20Status%20Transaksi%20Saya%20Yang%20Failed%20Dengan%20Data%20Sebagai%20Berikut%20:%0ANama:%20+' +
            nama +
            '%0AAlamat%20:%20' +
            alamat +
            '%0ATanggal%20Order%20:%20' +
            tanggalOrder +
            '%0AID%20Order%20:%20' +
            idOrder +
            '%0ATotal%20Harga%20:%20Rp.' +
            total
          x.attr('href', linkWa)
        }
      </script>
    
  <%- include('../partials/footer',{isLoggedIn : isLoggedIn}); %>


</html>