<!DOCTYPE html>
<html lang="en">


  <%- include('../partials/head', {title : ''}); %>
  <% if (isLoggedIn) { %>
      <%- include('../partials/header', {isLoggedIn : isLoggedIn,
          name: name}); %>
      <% } else { %>
          <%- include('../partials/header', {isLoggedIn : isLoggedIn}); %>
      <% } %>

    <body>
        <section class="content" style="margin-top: 75px;">
        
      <!--Pop Up Navbar on scroll!-->
  <nav class="navbar fixed-bottom  navbar-bottom" id="navbarBot">
    <p class="item-title nama-barang">Logitech G102 <span class="item-price border-left">Rp250.000</span></p>
   <span> <a href="/buy-now"><button class="btn-keranjang-navbar" style="font-size: 20px;">Beli Sekarang</button></a><a href="/cart"><button class="btn-utama ml-2" style="font-size: 20px;">Masukin Keranjang</button></a></span>
             
  </nav>

    <div class="container">
      <div class="row ">
        <div class="col mb-4 col-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/product">Product</a></li>
              <li class="breadcrumb-item active" aria-current="page">Logitech G102</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="content">

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="xzoom-container">
            <img class="xzoom" id="xzoom-default" src="images/item-gallery1.jpg"
              xoriginal="images/item-gallery1.jpg" />


            <div class="xzoom-thumbs">
              <a href="images/item-gallery1.jpg"><img class="xzoom-gallery" width="128"
                  src="images/item-gallery1.jpg" xpreview="images/item-gallery1.jpg" /></a>
              <a href="images/item-gallery2.jpg"><img class="xzoom-gallery" width="128"
                  src="images/item-gallery2.jpg" xpreview="images/item-gallery2.jpg" /></a>
              <a href="images/item-gallery3.jpg"><img class="xzoom-gallery" width="128"
                  src="images/item-gallery3.jpg" xpreview="images/item-gallery3.jpg" /></a>


            </div>
          </div>
        </div>
        <div class="col">
          <div>
            <br>
            <br>
            <h1 class="item-title ">Logitech G102</h1>
            
            <h2 class="item-price"> <span class="props-item"><sup>HARGA</sup></span> Rp250.000 </h2>
             <a href="/buy-now"> <button class="btn-beli mt-3">Beli Sekarang</button></a>
            <br>
            <a href="/cart"> <button class="btn-utama mt-3" style="background-color: none !important; ">Masukin keranjang</button></a>
          </div>
        </div>
      </div>


    </div>

    <div class="container ">
      <hr>
      <div class="row">

        <div style="margin-top: -10px;">
          <div class="col"> <a href="#Desc" class="mini-menus-item">Deskripsi</a> &nbsp; &nbsp; &nbsp; &nbsp; <a
              href="#Rating" class="mini-menus-item">Testimony</a> &nbsp;&nbsp; &nbsp; &nbsp; <a href="#Ask"
              class="mini-menus-item">Diskusi</a> </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="container item-description" id="Desc">

      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat odio ante. Maecenas tempus vehicula
            pellentesque. Nulla facilisi. Donec placerat nunc vitae risus faucibus faucibus. Pellentesque hendrerit
            venenatis cursus. Sed sed rhoncus tellus. Nullam elementum viverra metus quis pharetra. Integer at nibh mi.
          </p>
        </div>
      </div>
      <hr>
    </div>


    <div class="container item-rating mt-5" id="Rating">

      <div class="row">
        <div class="col align-self-start">
          <span class="mini-menus-title">
            Testimony (0)

            <br>
            <span class="mini-menus-sub-title">Logitech G102 Mouse Gaming</span>
          </span>
        </div>
      </div>

      <div class="row row-testi">
        <div class="col">

        </div>
      </div>
      <hr>
    </div>

    <div class="container item-ask mt-5" id="Ask">

      <div class="row">
        <div class="col align-self-start">
          <span class="mini-menus-title">
            Diskusi (5)
            <br>
            <span class="mini-menus-sub-title">Logitech G102 Mouse Gaming</span>
          </span>
        </div>
      </div>

      <div class="row row-ask">
        <div class="container mt-1"
          style="background-color: #FFFFFF; border: 1px solid rgb(202, 202, 202); padding: 1rem;">
          <hr>
          <div class="row user-comment">
            <div class="col-2 user-pic">
              <div id="profileImage"></div>
            </div>
            <div class="col-10">
              <div class="row">
                <div><span id="userName" style="font-family: montserrat; font-weight: 600;">Michael Yan Petra</span></div>
                <span class="text-muted" id="date"></span>
              </div>
              <div class="row">
                Hi apakah barang ready?
              </div>
            </div>
          </div>
          <hr>
          <div class="row user-comment">
            <div class="col-2 user-pic">
              <div id="profileImage"></div>
            </div>
            <div class="col-10">
              <div class="row">
                <div><span id="userName" style="font-family: montserrat; font-weight: 600;">Evander</span></div>
                <span class="text-muted" id="date">10/20/2020</span>
              </div>
              <div class="row">
                Warna Putih Ready?
              </div>
            </div>
          </div>
          <hr>
          <div class="row user-comment">
            <div class="col-2 user-pic">
              <div id="profileImage"></div>
            </div>
            <div class="col-10">
              <div class="row">
                <div><span id="userName" style="font-family: montserrat; font-weight: 600;">Lubby Genady</span></div>
                <span class="text-muted" id="date">10/22/2020</span>
              </div>
              <div class="row">
                Ready?
              </div>
            </div>
          </div>
          <hr>
          <div class="row user-comment">
            <div class="col-2 user-pic">
              <div id="profileImage"></div>
            </div>
            <div class="col-10">
              <div class="row">
                <div><span id="userName" style="font-family: montserrat; font-weight: 600;">Johan Har</span></div>
                <span class="text-muted" id="date">10/23/2020</span>
              </div>
              <div class="row">
                Keren nih, ready?
              </div>
            </div>
          </div>
          <hr>
          <div class="row user-comment">
            <div class="col-2 user-pic">
              <div id="profileImage"></div>
            </div>
            <div class="col-10">
              <div class="row">
                <div><span id="userName" style="font-family: montserrat; font-weight: 600;">Ghatra Vaghanza</span></div>
                <span class="text-muted" id="date">10/23/2020</span>
              </div>
              <div class="row">
                Warna Putih Ready?
              </div>
            </div>
          </div>
          <div class="row mt-5">
           <% if (isLoggedIn) { %>
                <div class="col">
          <form action="/action_page.php" id="usrform" style="border: 1px solid rgb(233, 233, 233); padding: 1rem;">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" form="usrform"></textarea>
            <button type="submit" class="btn btn-info form-control mt-3">Tanya</button>
          </form>
        </div>
             <% } else { %>
              <div class="col">
            <a href="/login" class="btn btn-info form-control mt-3">Login untuk diskusi</a>
        </div>
    <% } %>
     
      </div>
        </div>
        
      </div>
      <hr>

      
  
    </div>

    </div>
    

  </section>

  <script src="vendor/xzoom/dist/xzoom.min.js"></script>

  <script>
    $(document).ready(function () {
      var titlex = document.getElementById("titleDoc");
      titlex.textContent += $('.nama-barang').text()+' - AGstore';
    })
  </script>


  <script>
    $(document).ready(function () {
      $('.xzoom, .xzoom-gallery').xzoom({
        zoomWidth: 300,
        title: false,
        position: 'inside'
      });
    });
  </script>

  <script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>

  <script>
    $(document).ready(function () {

      $('.user-comment').each(function () {
        const fullName =
          $(this)
          .children()
          .children()
          .children()
          .children('#userName')
          .text()

        const intials = fullName
        .split(' ')
        .map(name => name[0])
        .join('')
        .toUpperCase()

        $(this).children().children('#profileImage').html(intials)

      })

    })
  </script>
      </body>

  <%- include('../partials/footer',{isLoggedIn : isLoggedIn}); %>


</html>