body {
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: 'Zealot';
  src: url("./fonts/ZealotCollegeItalic-Y24O.ttf") format("truetype");
}

.content {
  margin-top: 5%;
  background-color: #F6F7FC;
  padding: 30px 0px 30px 0px;
}

.sidenav {
  height: 100%;
  width: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2165DA;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

/* ON HOVER */
.sidenav:hover {
  background-color: #2165DA;
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #89B3F7;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav .dropdown {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #89B3F7;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.active {
  color: #f1f1f1 !important;
}

.sidenav p {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #7aa7f5;
  color: #f1f1f1;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav p {
    font-size: 18px;
  }
}

.navbar-admin {
  width: 100%;
  background-color: #2165DA;
  z-index: 2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openNav {
  font-size: 30px;
  text-decoration: none;
  color: #89B3F7;
}

.openNav:hover {
  color: #f1f1f1;
}

.clockdate-wrapper {
  background-color: #333;
  border-radius: 5px;
}

#clock {
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  color: #888;
  text-shadow: 0px 0px 1px #333;
  position: relative;
}

#date {
  letter-spacing: 5px;
  font-family: arial,sans-serif;
  color: #fff;
}

.table-data {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.activeNav {
  background-color: #022963;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  background-color: #ffffff;
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/*# sourceMappingURL=admin.css.map */