//homepage
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Zealot';
    src: url('../styles/fonts/ZealotCollegeItalic-Y24O.ttf') format('truetype');


}

@font-face {
    font-family: 'Zealot-black';
    src: url('../styles/fonts/ZealotOutlineItalic-MDKJ.ttf') format('truetype');
}

.container-navbar {
    background-color: #1a1a2e;
}

.navbar-landing {
    background-color: #1a1a2e;
    
    z-index: 999;
    position: absolute;
    width: 60%;
    transition: 500ms;
    &:hover{
        
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


.carousel {
    position: relative;

}

.carousel-item {

    max-height: 90vh;

    img {
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 70vh;
        max-height: 90vh;
        max-width: 100vw;
    }
}

.card-img {
    min-height: 15rem;
    object-fit: cover;
}

#navBarSearchForm {
    width: 60% !important;
}


.btn-utama {
    border: #e94560 solid 1px;
    color: #e94560;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    &:hover {
        background-color: #e94560;
        transition: 0.25s ease-out;
        color: whitesmoke;
    }
}

.card-homepage {

    max-width: 350px;
    height: 100px;
    border-radius: 10px;

    &:hover {

        .card-homepage-bg {
            transition-duration: 500ms;

            -webkit-filter: blur(4px);
        }

        .card-homepage-title {
            transition-duration: 500ms;
            -webkit-text-stroke-width: 0px;
        }

        .underline--magical {
            background-size: 100% 88%;
        }
    }

}



.card-homepage-bg,
.card-homepage-title {

    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;



}

.underline--magical {
    background-image: linear-gradient(120deg, #1a1a2e 0%, #e94560 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.long {
    font-size: 35px !important;

}


.card-homepage-bg {

    object-fit: cover !important;
    -webkit-filter: blur(1.5px);
}

.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

//brand page

.brand-logo {
    width: 250px;
    height: 150px;
    object-fit: contain;
    filter: grayscale(100%);

    &:hover {
        transition-duration: 500ms;
        filter: grayscale(0%);
    }
}

@media only screen and (max-width: 768 px) {
    .brand-logo {
        max-width: 70px;
    }
}

//PAGE home/product  ( product.html )

.banner {
    height: 30vh;
}

.product-banner .mouse{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/mouse-banner.jpg)
}
.product-banner .keyboard{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/mouse-banner.jpg)
}
.product-banner .headset{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/mouse-banner.jpg)
}
.product-banner .gaming-chair{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/mouse-banner.jpg)
}
.product-banner .misclleaneous{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/mouse-banner.jpg)
}

.sortBy{
    padding: 10px;
    background-color: #d8d8d8;
    border: 1px solid black;
}


//Page Item
.xzoom-container {
    display: block;

    .xzoom {
        width: 500px;
        box-shadow: none;
        margin-bottom: 10px;
    }

    .xactive {
        border: 2px solid #1abc9c;
        box-shadow: none;
    }
}

.item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;

}

.item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: rgb(255, 81, 0);
}

.props-item {
    color: #9e9e9e;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

hr {
    border-top: 1px solid rgb(230, 230, 230);
}

.mini-menus-item {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: green;
    font-weight: 400;

    &:hover {
        text-decoration: none;
    }

}

.mini-menus-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.mini-menus-sub-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}

.row-testi {
    height: 15vh;
    background-image: url(../images/krik-testi.png);
    background-position: center;
    background-repeat: no-repeat;
}

.row-ask {
    height: 15vh;
    background-image: url(../images/krik-ask.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-bottom {
    height: 70px;
    border-radius: 10px 10px;
    transition: bottom 0.3s;
    bottom: -100px;
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 1) 2%, rgba(222, 222, 225, 1) 42%, rgba(46, 46, 65, 1) 80%, rgba(26, 26, 46, 1) 100%, rgba(26, 26, 46, 1) 100%);
}

.btn-keranjang-navbar {
    border: none;
    font-size: 20px;
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);

    &:hover {
        background-color: #e94560;
        transition: 0.25s ease-out;
        color: rgb(255, 255, 255);
    }
}

.blank-row {
    height: 10vh;
}

.btn-beli {
    border: none;
    font-size: 20px;
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);


    &:hover, &:active {
        &:not([disabled]) {
            background-color: #e94560;
            transition: 0.25s ease-out;
            color: rgb(255, 255, 255);
        }
      }
}


//cart
.product {

    margin-top: 10px;
    border-top: #9e9e9e 1px solid !important;
    border-bottom: #9e9e9e 5px solid !important;
    border: none;

    .product-img {
        margin-left: 30px;
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
        border-radius: 10px;

    }

    .product-details {

        .product-title {
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }

        .product-price {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: orange;
            -webkit-text-stroke: 1px rgb(255, 136, 0);
        }
    }

    .icon-feather {
        &:hover {
            color: gray
        }
    }
}





.input-number {
    width: 40px;
    border: none;
    border-bottom: 1px rgba(107, 107, 107, 0.534) solid;
    text-align: center;
}

.total-belanja {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: orange;
    font-size: 20px;
    -webkit-text-stroke: 1px rgb(255, 136, 0);
}

.ringkasan-belanja {
    margin-top: 20px;
}

#transferInfo {
    transition-duration: 1000ms;

}

.card-whatsapp {
    background-color: #0D9F16;
    color: white;

}

a {
    text-decoration: none !important;
    color: #000000;
}

.jumbotron {
    background-color: #ffc93c;
    border-radius: 60px 0px 60px 0px;
}

.owl-carousel {
    background-color: #40a8c4;
}

.card-item {
    min-height: 25rem;
    max-height: 25rem;
}

//Login Page
.banner-login {
    height: 90vh;
}

.input-login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 100px;

    &:focus {
        
        border: 3px solid #e94560;
    }
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: 'Rp.';
  }

  .col-breadcrumb{
      border: 1px solid rgb(219, 219, 219);
      padding-top: auto;
      -webkit-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.1);
      box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.1);
  }

  //drop down Hover on NAVBAR
  .dropbtn {
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
