html {
  scroll-behavior: smooth;
}

.container-navbar {
  background-color: #1a1a2e;
}

.carousel-banner {
  border-radius: 10px;
}

#navBarSearchForm {
  width: 60% !important;
}

.btn-search {
  border: #e94560 solid 1px;
  color: #e94560;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.btn-search:hover {
  background-color: #e94560;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: whitesmoke;
}

.card-homepage {
  width: 350px;
  height: 100px;
  border-radius: 10px;
  position: relative;
}

.card-homepage:hover .card-homepage-bg {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: blur(4px);
}

.card-homepage:hover .card-homepage-title {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-text-stroke-width: 0px;
}

.card-homepage:hover .underline--magical {
  background-size: 100% 88%;
}

.card-homepage-bg,
.card-homepage-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.underline--magical {
  background-image: linear-gradient(120deg, #1a1a2e 0%, #e94560 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.long {
  font-size: 35px !important;
}

.card-homepage-bg {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -webkit-filter: blur(1.5px);
}

.brand-logo {
  width: 250px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.brand-logo:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media only screen and (max-width: 768 px) {
  .brand-logo {
    max-width: 70px;
  }
}

.banner {
  height: 30vh;
}

.mouse-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/mouse-banner.jpg);
}

.xzoom-container {
  display: block;
}

.xzoom-container .xzoom {
  width: 500px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.xzoom-container .xactive {
  border: 2px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.item-price {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #ff5100;
}

.props-item {
  color: #9e9e9e;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

hr {
  border-top: 1px solid #e6e6e6;
}

.mini-menus-item {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: green;
  font-weight: 400;
}

.mini-menus-item:hover {
  text-decoration: none;
}

.mini-menus-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.mini-menus-sub-title {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}

.row-testi {
  height: 15vh;
  background-image: url(../images/krik-testi.png);
  background-position: center;
  background-repeat: no-repeat;
}

.row-ask {
  height: 15vh;
  background-image: url(../images/krik-ask.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-bottom {
  height: 70px;
  border-radius: 10px 10px;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
  bottom: -100px;
  background: white;
  background: linear-gradient(158deg, white 2%, #dedee1 42%, #2e2e41 80%, #1a1a2e 100%, #1a1a2e 100%);
}

.btn-keranjang-navbar {
  border: none;
  font-size: 20px;
  background-color: orange;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.btn-keranjang-navbar:hover {
  background-color: #e94560;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: white;
}

.blank-row {
  height: 10vh;
}

.btn-beli {
  border: none;
  font-size: 20px;
  background-color: orange;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.btn-beli:hover {
  background-color: #e94560;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: white;
}

.product {
  margin-top: 10px;
  border-top: #9e9e9e 1px solid !important;
  border-bottom: #9e9e9e 5px solid !important;
  border: none;
}

.product .product-img {
  margin-left: 30px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.product .product-details .product-title {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.product .product-details .product-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: orange;
  -webkit-text-stroke: 1px #ff8800;
}

.product .icon-feather:hover {
  color: gray;
}

.input-number {
  width: 40px;
  border: none;
  border-bottom: 1px rgba(107, 107, 107, 0.534) solid;
  text-align: center;
}

.total-belanja {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: orange;
  font-size: 20px;
  -webkit-text-stroke: 1px #ff8800;
}

.ringkasan-belanja {
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */